body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
background:#f4f6f8;
text-align:center;
}

header{
background:#1f3c64;
padding:20px;
color:white;
}

.logo{
width:200px;
margin-top:10px;
}

h1{
margin:10px;
font-size:32px;
}

.subtitulo{
color:#6ed3cf;
font-size:18px;
}

.contenido{
padding:40px 20px;
max-width:900px;
margin:auto;
}

.descripcion{
font-size:18px;
line-height:1.6;
color:#444;
margin-bottom:30px;
}

.boton{
background:#2bb3b1;
color:white;
padding:15px 30px;
font-size:18px;
border:none;
border-radius:8px;
cursor:pointer;
text-decoration:none;
display:inline-block;
transition:0.3s;
}

.boton:hover{
background:#1f8c8a;
}

/* SECCION BENEFICIOS */

.beneficios{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:40px;
}

.card-beneficio{
background:#dff5ff;
padding:25px;
width:260px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.08);
text-align:center;
transition:0.3s;
}

.card-beneficio:hover{
transform:translateY(-5px);
}

.card-beneficio h3{
color:#1f3c64;
margin-bottom:10px;
}

.card-beneficio p{
font-size:15px;
color:#333;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
box-shadow:0 4px 8px rgba(0,0,0,0.3);
}

.whatsapp img{
width: 35px;
height:35px;
} 

.whatsapp:hover{
background:#1ebe5d;
}
footer{
margin-top:60px;
padding:20px;
background:#1f3c64;
color:white;
font-size:12px;
}

@media (max-width:768px){

h1{
font-size:24px;
}

.descripcion{
font-size:16px;
}

.logo{
width:120px;
}

}